default_stages: [pre-commit]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-added-large-files
        args: ['--maxkb=5000']

  - repo: local
    hooks:
      - id: ruff-lint
        name: Ruff Linter
        entry: ruff check --fix
        language: system
        types_or: [python, pyi]
        require_serial: true

      - id: ruff-format
        name: Ruff Formatter
        entry: ruff format
        language: system
        types_or: [python, pyi]
        require_serial: true

      - id: mypy
        name: Mypy Static Type Checker
        entry: mypy
        language: system
        types_or: [python, pyi]
        require_serial: true
